<h1>Showing article details:</h1>
<!-- the "=" in the embedded ruby tag - it show the output inside it -->
<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>